<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="./../../assets/img/iconweb.png">

    <title>Liên Hệ</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- Input Effect -->
    <link rel="stylesheet" href="../../assets/css/demo.css">
    <link rel="stylesheet" href="../../assets/css/set1.css">


    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link href="../../assets/css/animate.css" rel="stylesheet">

</head>

<body>
    <!-- PreLoad -->
    <div class="spinner"></div>
    <div class="content-body">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent wow fadeInDown" color-on-scroll="100" data-wow-duration="1s">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../../assets/img/logoCyperSoft.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Trở về Trang Chủ" data-placement="bottom" href="index.html">
                                <i class="nc-icon nc-bank"></i>
                                Trang Chủ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Trung Tâm Chúng Tôi" data-placement="bottom" href="intro.html">
                                <i class="nc-icon nc-badge"></i>
                                Giới Thiệu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Chi Tiết Các Khóa Học" data-placement="bottom" href="product.html">
                                <i class="nc-icon nc-single-copy-04"></i>
                                Khóa Học
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link activeweb">
                                <i class="nc-icon nc-book-bookmark"></i> Liên hệ</a>
                        </li>
                        <li class="nav-item userDiv">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="wrapper">
            <div class="page-header page-header-xs section-dark" style="background-image: url('../../assets/img/hinh6.jpg');">
                <div class="filter"></div>
                <div class="content-center">
                    <div class="container">
                        <h1 class="presentation-title wow fadeInDown">
                            LIÊN HỆ
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <h2 class="text-center wow fadeInDown">Bạn có câu hỏi?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6 wow fadeInDown" data-wow-duration="2s">
                                    <label>Tên</label>
                                    <input type="text" class="form-control" placeholder="Nhập Tên...">
                                </div>
                                <div class="col-md-6 wow fadeInDown" data-wow-duration="2s">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Nhập Email....">
                                </div>
                            </div>
                            <label class="wow fadeInDown" data-wow-duration="2s">Lời nhắn</label>
                            <textarea class="form-control wow fadeInDown" data-wow-duration="2s" rows="4" placeholder="Nói với chúng tôi điều bạn muốn tư vấn"></textarea>
                            <div class="row wow fadeInDown" data-wow-duration="2s">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-danger btn-lg btn-fill">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 mb-5 wow fadeInLeft" data-wow-duration="2s">
                        <h3 class="text-center text-danger">Liên Hệ</h3>
                        <p>
                            <i class="fa fa-address-book"></i> Địa chỉ: </p>
                        <p class="text-center">459 - LẦU 2- SƯ VẠN HẠNH, QUẬN 10, HCM (Ngay ĐH Y Dược Phạm Ngọc Thạch - trệt là HD BANK)</p>
                        <p>
                            <i class="fa fa-phone"></i>
                            Phone:
                        </p>
                        <p class="text-center">(+84) 961.05.10.14</p>
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            Email:
                        </p>
                        <p class="text-center">info@cybersoft.edu.vn</p>
                        <p>
                            <i class="fa fa-exclamation-circle"></i>
                            Holine:
                        </p>
                        <p class="text-center">
                            0961.05.10.14
                        </p>
                    </div>
                    <div class="col-md-9 wow fadeInRight" data-wow-duration="2s">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.501371489875!2d106.6668640146712!3d10.77285929232394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edc3f3043a7%3A0xb490b64157cb9dc1!2sCybersoft!5e0!3m2!1svi!2s!4v1527417623186"
                            width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 footerleft ">
                        <div class="logofooter">
                            <img src="../../assets/img/cybersoft-logo-min.png" alt="">
                        </div>
                        <p>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active Learning
                            và Flipped Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng
                            vai trò là một Scrum member trong mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp
                            ứng mọi nhu cầu tuyển dụng của Doanh nghiệp</p>
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom">
                        <h6 class="heading7">THÔNG TIN</h6>
                        <ul class="footer-ul">
                            <li>
                                <a href="index.html"> Trang Chủ</a>
                            </li>
                            <li>
                                <a href="intro.html"> Giới Thiệu</a>
                            </li>
                            <li>
                                <a href="product.html"> Khóa Học</a>
                            </li>
                            <li>
                                <a href="contact.html"> Liên Hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 paddingtop-bottom">
                        <h6 class="heading7">LIÊN HỆ ĐỂ ĐƯỢC TƯ VẤN</h6>
                        <div class="post">
                            <p>Địa Chỉ:
                                <span>459 Sư Vạn Hạnh, Quận 10 - HCM</span>
                            </p>
                            <p>Số Điện Thoại:
                                <span>+84 961.05.10.14</span>
                            </p>
                            <p>Email:
                                <span> info@cybersoft.edu.vn</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Modal -->
        <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Đăng Nhập</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">Đăng Kí</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!-- Đăng Nhập -->
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="social-line text-center pt-4">
                                    <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <form class="register-form">
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="taikhoanDN" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="taikhoanDN">
                                            <span class="input__label-content input__label-content--hoshi">Tài Khoản</span>
                                        </label>
                                    </span>
                                    <p id="tbTaiKhoanDN"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="password" id="matkhauDN" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="matkhauDN">
                                            <span class="input__label-content input__label-content--hoshi">Mật Khẩu</span>
                                        </label>
                                    </span>
                                    <p id="tbMatKhauDN"></p>
                                    <button type="button" class="btn btn-danger btn-block btn-round mt-5" id="btnDangNhap">Đăng Nhập</button>
                                </form>
                                <div class="forgot">
                                    <a href="#" class="btn btn-link btn-danger">Bạn Quên Mật Khẩu?</a>
                                </div>
                            </div>
                            <!-- Đăng Kí -->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <form class="register-form">
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="taikhoanDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="taikhoanDK">
                                            <span class="input__label-content input__label-content--hoshi">Tài Khoản</span>
                                        </label>
                                    </span>
                                    <p id="tbTaiKhoanDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="password" id="matkhauDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="matkhauDK">
                                            <span class="input__label-content input__label-content--hoshi">Mật Khẩu</span>
                                        </label>
                                    </span>
                                    <p id="tbMatKhauDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="hotenDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="hotenDK">
                                            <span class="input__label-content input__label-content--hoshi">Họ Và Tên</span>
                                        </label>
                                    </span>
                                    <p id="tbHoTenDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="emailDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="emailDK">
                                            <span class="input__label-content input__label-content--hoshi">Email</span>
                                        </label>
                                    </span>
                                    <p id="tbEmailDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="sodtDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="sodtDK">
                                            <span class="input__label-content input__label-content--hoshi">Số Điện Thoại</span>
                                        </label>
                                    </span>
                                    <p id="tbSoDTDK"></p>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked> Đồng ý với điều khoản của chúng tôi
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-block btn-round mt-5" id="btnDangKi">Đăng Kí</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scroll Top -->
        <button type="button" class="btn btn-danger btn-just-icon btn-scroll">
            <i class="fa fa-angle-double-up"></i>
        </button>
    </div>
</body>

<script src="./../../assets/dist/bundle.js"></script>
<!-- Core JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
<!-- Switch -->
<script src="../../assets/js/user/bootstrap-switch.min.js"></script>
<!-- Papper Kit -->
<script src="../../assets/js/user/paper-kit.js"></script>
<!-- Wow  -->
<script src="../../assets/js/user/wow.min.js"></script>
<!-- Input Effect -->
<script src="../../assets/js/user/classie-input.js"></script>
<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>

</html>