<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="./../../assets/img/iconweb.png">
    <title>Trang Chủ</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <!-- Input Effect -->
    <link rel="stylesheet" href="../../assets/css/demo.css">
    <link rel="stylesheet" href="../../assets/css/set1.css">
    <!-- Fonts and icons -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- Slick slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- Main -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <!-- LoadSpinner -->
    <div class="spinner"></div>
    <!-- Content -->
    <div class="content-body">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent wow fadeInDown" color-on-scroll="100" data-wow-duration="1s">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../../assets/img/logoCyperSoft.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link activeweb" rel="tooltip" title="Trở về Trang Chủ" data-placement="bottom" href="index.html">
                                <i class="nc-icon nc-bank"></i>
                                Trang Chủ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Trung Tâm Chúng Tôi" data-placement="bottom" href="intro.html">
                                <i class="nc-icon nc-badge"></i>
                                Giới Thiệu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Chi Tiết Các Khóa Học" data-placement="bottom" href="product.html">
                                <i class="nc-icon nc-single-copy-04"></i>
                                Khóa Học
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                <i class="nc-icon nc-book-bookmark"></i> Liên hệ</a>
                        </li>
                        <li class="nav-item userDiv">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <!-- Intro -->
            <div class="page-header section-dark" style="background-image: url('../../assets/img/slider2.jpg')">
                <div class="filter"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="title-brand">
                            <h1 class="presentation-title wow pulse animated" data-wow-iteration="5">
                                Bạn muốn lập trình chuyên sâu? Có lộ trình, theo dự án và có việc ngay?
                            </h1>
                        </div>
                        <h2 class="presentation-subtitle text-center text-danger">Hãy bắt đầu sự nghiệp của bạn! </h2>
                        <div class="scroll-downs">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main -->
            <div class="main">
                <!-- Điểm Ưu Việt -->
                <div class="section text-center section-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto wow fadeInUp center" data-wow-duration="2s">
                                <h2 class="title">Điểm ưu việt chỉ có ở Cyber Soft</h2>
                                <h5 class="description">
                                    “ CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active Learning và Flipped Learning thông
                                    qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng vai trò là một
                                    Scrum member trong mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp ứng mọi
                                    nhu cầu tuyển dụng của Doanh nghiệp.”</h5>
                                <br>
                                <button type="button" class="btn btn-outline-danger btn-lg">Xem Chi Tiết</button>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-4 mb-4 wow fadeInUp" data-wow-duration="2s">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-album-2"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Học theo lộ trình, có định hướng</h4>
                                        <p class="description-sub">CyberSoft sẽ định hướng và đưa ra các lộ trình học tập cho nghề bạn theo đuổi. Phát
                                            triển năng lực và niềm đam mê cảm hứng lập trình của bạn.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 wow fadeInUp" data-wow-duration="2s">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-bulb-63"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Nền tảng, tư duy, cốt lõi trong lập trình</h4>
                                        <p class="description-sub">CyberSoft cung cấp những nền tảng, giá trị tư duy cốt lõi nhất trong lập trình. Bạn
                                            sẽ tự tin trước sự thay đổi của công nghệ và môi trường làm việc.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 wow fadeInUp" data-wow-duration="2s">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-chart-bar-32"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Mài giũa bạn qua kinh nghiệm, dự án thực tế</h4>
                                        <p class="description-sub">Đội ngũ Giảng viên và các Mentor là những người dày dạn kinh nghiệm qua các dự án
                                            thực tế tại các công ty lớn sẽ truyền đạt những kinh nghiệm "máu lửa" cho bạn.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Khóa học  -->
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center wow fadeInUp" data-wow-duration="3s">
                                <h2 class="title">Những khóa học chỉ có ở Cyber Soft</h2>
                                <h5 class="description">
                                    “ CyberSoft có những khóa học chất lượng nhất, với mong muốn truyền đạt cho học viên những kinh nghiệm quý báu nhất”</h5>
                                <br>
                            </div>
                        </div>
                        <div class="slider multiple-items" role="toolbar">
                            <div class="wow zoomIn" data-wow-duration="3s">
                                <div class="card" style="width: 18rem;margin-top: 15px;">
                                    <img class="card-img-top" src="../../assets/img/HTML5_logo_and_wordmark.svg.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Lập trình Front-End</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="wow zoomIn" data-wow-duration="3s">
                                <div class="card" style="width: 18rem;margin-top: 15px;">
                                    <img class="card-img-top" src="../../assets/img/Angular_full_color_logo.svg_-490x490.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Lập trình Angular</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="wow zoomIn" data-wow-duration="3s">
                                <div class="card " style="width: 18rem;margin-top: 15px;">
                                    <img class="card-img-top" src="../../assets/img/php.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Lập trình PHP</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="wow zoomIn" data-wow-duration="3s">
                                <div class="card" style="width: 18rem;margin-top: 15px;">
                                    <img class="card-img-top" src="../../assets/img/nodejspng.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Lập trình NodeJS</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="wow zoomIn" data-wow-duration="3s">
                                <div class="card" style="width: 18rem;margin-top: 15px;">
                                    <img class="card-img-top" src="../../assets/img/android.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Lập trình Android</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="wow zoomIn" data-wow-duration="3s">
                                <div class="card" style="width: 18rem;margin-top: 15px;">
                                    <img class="card-img-top" src="../../assets/img/c.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Lập trình C++</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Giảng Viên -->
                <div class="section text-center">
                    <div class="container">
                        <h2 class="title wow bounceInUp" data-wow-duration="2s">Đội ngũ nhiệt huyết</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-profile card-plain">
                                    <div class="card-avatar wow swing" data-wow-duration="2s">
                                        <a href="#avatar">
                                            <img src="../../assets/img/ahieu.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body wow fadeIn" data-wow-duration="2s">
                                        <a href="#paper-kit">
                                            <div class="author">
                                                <h4 class="card-title">Mr.Hiếu</h4>
                                                <h6 class="card-category text-danger">Người Giảng Dạy</h6>
                                            </div>
                                        </a>
                                        <p class="card-description text-center">
                                            Top 10 Người Giảng Dạy nhiệt tình nhất trung tâm tại Cypersoft
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card card-profile card-plain">
                                    <div class="card-avatar wow swing" data-wow-duration="2s">
                                        <a href="#avatar">
                                            <img src="../../assets/img/tSong.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body wow fadeIn" data-wow-duration="2s">
                                        <a href="#paper-kit">
                                            <div class="author">
                                                <h4 class="card-title">Mr.Lê Quang Song</h4>
                                                <h6 class="card-category text-danger">C.E.O</h6>
                                            </div>
                                        </a>
                                        <p class="card-description text-center">
                                            Top 10 Sinh Viên xuất sắc hạng ưu ngành CNTT - Đại học Khoa Học Tự Nhiên
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card card-profile card-plain">
                                    <div class="card-avatar wow swing" data-wow-duration="2s">
                                        <a href="#avatar">
                                            <img src="../../assets/img/aKaidojpg.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body wow fadeIn" data-wow-duration="2s">
                                        <a href="#paper-kit">
                                            <div class="author">
                                                <h4 class="card-title">Mr.Khải</h4>
                                                <h6 class="card-category text-danger">Developer</h6>
                                            </div>
                                        </a>
                                        <p class="card-description text-center">
                                            Top 10 Lập Trình Viên tốt nhất trung tâm tại Cypersoft
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Review của người dùng -->
                <div class="section section-gold page-header" style="background-image: url('../../assets/img/contact-us.jpg')">
                    <div class="container wow fadeIn" data-wow-duration="3s">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <h2 class="title text-center">Học viên nói gì về CyberSoft</h2>
                            </div>
                        </div>
                        <div class="slider-for">
                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit ame !"</p>
                                <small>--Someone famous--</small>
                            </div>
                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adip"</p>
                                <small>--Someone famous--</small>
                            </div>
                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedation ullamco laboris nisi"
                                </p>
                                <small>--Someone famous--</small>
                            </div>
                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elismod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enircitation ullamco laboris nisi"
                                </p>
                                <small>--Someone famous--</small>
                            </div>
                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut l"
                                </p>
                                <small>--Someone famous--</small>
                            </div>
                        </div>

                        <div class="slider-nav">
                            <div class="item">
                                <div class="img-face">
                                    <img class="img-face-icon" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-face">
                                    <img class="img-face-icon" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-face">
                                    <img class="img-face-icon" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-face">
                                    <img class="img-face-icon" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-face">
                                    <img class="img-face-icon" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ý kiến Người dùng -->
                <div class="section landing-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <h2 class="text-center">Bạn có câu hỏi?</h2>
                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-6 wow bounceInRight" data-wow-duration="2s">
                                            <label>Tên</label>
                                            <input type="text" class="form-control" placeholder="Nhập Tên...">
                                        </div>
                                        <div class="col-md-6 wow bounceInLeft" data-wow-duration="2s">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Nhập Email....">
                                        </div>
                                    </div>
                                    <label class="wow fadeInUp" data-wow-duration="2s">Lời nhắn</label>
                                    <textarea class="form-control wow fadeInUp" data-wow-duration="2s" rows="4" placeholder="Nói với chúng tôi điều bạn muốn tư vấn"></textarea>
                                    <div class="row wow fadeInUp" data-wow-duration="2s">
                                        <div class="col-md-4 ml-auto mr-auto text-center">
                                            <button class="btn btn-danger btn-lg btn-fill">Gửi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 footerleft ">
                                <div class="logofooter">
                                    <img src="../../assets/img/cybersoft-logo-min.png" alt="">
                                </div>
                                <p>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active
                                    Learning và Flipped Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT.
                                    Học viên sẽ đóng vai trò là một Scrum member trong mô hình Agile để trở thành một lập
                                    trình chuyên nghiệp, đáp ứng mọi nhu cầu tuyển dụng của Doanh nghiệp</p>
                            </div>
                            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                                <h6 class="heading7 text-danger">THÔNG TIN</h6>
                                <ul class="footer-ul">
                                    <li>
                                        <a href="index.html"> Trang Chủ</a>
                                    </li>
                                    <li>
                                        <a href="intro.html"> Giới Thiệu</a>
                                    </li>
                                    <li>
                                        <a href="product.html"> Khóa Học</a>
                                    </li>
                                    <li>
                                        <a href="contact.html"> Liên Hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 paddingtop-bottom">
                                <h6 class="heading7 text-danger">LIÊN HỆ ĐỂ ĐƯỢC TƯ VẤN</h6>
                                <div class="post">
                                    <p>Địa Chỉ:
                                        <span>459 Sư Vạn Hạnh, Quận 10 - HCM</span>
                                    </p>
                                    <p>Số Điện Thoại:
                                        <span>+84 961.05.10.14</span>
                                    </p>
                                    <p>Email:
                                        <span> info@cybersoft.edu.vn</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Đăng Nhập</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">Đăng Kí</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!-- Đăng Nhập -->
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="social-line text-center pt-4">
                                    <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <form class="register-form">
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="taikhoanDN" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="taikhoanDN">
                                            <span class="input__label-content input__label-content--hoshi">Tài Khoản</span>
                                        </label>
                                    </span>
                                    <p id="tbTaiKhoanDN"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="password" id="matkhauDN" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="matkhauDN">
                                            <span class="input__label-content input__label-content--hoshi">Mật Khẩu</span>
                                        </label>
                                    </span>
                                    <p id="tbMatKhauDN"></p>
                                    <button type="button" class="btn btn-danger btn-block btn-round mt-5" id="btnDangNhap">Đăng Nhập</button>
                                </form>
                                <div class="forgot">
                                    <a href="#" class="btn btn-link btn-danger">Bạn Quên Mật Khẩu?</a>
                                </div>
                            </div>
                            <!-- Đăng Kí -->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <form class="register-form">
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="taikhoanDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="taikhoanDK">
                                            <span class="input__label-content input__label-content--hoshi">Tài Khoản</span>
                                        </label>
                                    </span>
                                    <p id="tbTaiKhoanDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="password" id="matkhauDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="matkhauDK">
                                            <span class="input__label-content input__label-content--hoshi">Mật Khẩu</span>
                                        </label>
                                    </span>
                                    <p id="tbMatKhauDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="hotenDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="hotenDK">
                                            <span class="input__label-content input__label-content--hoshi">Họ Và Tên</span>
                                        </label>
                                    </span>
                                    <p id="tbHoTenDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="emailDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="emailDK">
                                            <span class="input__label-content input__label-content--hoshi">Email</span>
                                        </label>
                                    </span>
                                    <p id="tbEmailDK"></p>
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="sodtDK" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="sodtDK">
                                            <span class="input__label-content input__label-content--hoshi">Số Điện Thoại</span>
                                        </label>
                                    </span>
                                    <p id="tbSoDTDK"></p>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked> Đồng ý với điều khoản của chúng tôi
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-block btn-round mt-5" id="btnDangKi">Đăng Kí</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scroll Top -->
        <button type="button" class="btn btn-danger btn-just-icon btn-scroll">
            <i class="fa fa-angle-double-up"></i>
        </button>
    </div>

    <script src="./../../assets/dist/bundle.js"></script>
    <!-- Core JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <!-- Switch -->
    <script src="../../assets/js/user/bootstrap-switch.min.js"></script>
    <!-- Papper Kit -->
    <script src="../../assets/js/user/paper-kit.js"></script>
    <!-- Wow  -->
    <script src="../../assets/js/user/wow.min.js"></script>
    <!-- Slick -->
    <script src="../../assets/js/user/slick.min.js"></script>
    <script>
        $('.multiple-items').slick({
            centerPadding: '60px',
            slidesToShow: 3,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [{
                    breakpoint: 990,
                    settings: {
                        arrows: false,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',
            autoplay: true,
            autoplaySpeed: 2000,
        });
        $('.slider-nav').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            focusOnSelect: true,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [{
                breakpoint: 990,
                settings: {
                    arrows: false,
                }
            }]
        });
    </script>
    <!-- Input Effect -->
    <script src="../../assets/js/user/classie-input.js"></script>
    <script>
        (function () {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function () {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function () {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
                // in case the input is already filled..
                if (inputEl.value.trim() !== '') {
                    classie.add(inputEl.parentNode, 'input--filled');
                }

                // events:
                inputEl.addEventListener('focus', onInputFocus);
                inputEl.addEventListener('blur', onInputBlur);
            });

            function onInputFocus(ev) {
                classie.add(ev.target.parentNode, 'input--filled');
            }

            function onInputBlur(ev) {
                if (ev.target.value.trim() === '') {
                    classie.remove(ev.target.parentNode, 'input--filled');
                }
            }
        })();
    </script>
</body>

</html>